* {
    box-sizing:border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  /* margin: auto; */
  overflow: auto;

  margin: 30px;
  padding: 20px;
  border: 10px solid black;
}



