@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-div i{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color:white;
  padding: 8px;
  background-color:#54545495;
  cursor: pointer;
}

.name .edit-btn {
  width: max-content;
}

.edit-btn .edit-txt {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    color: #a52400;
    transition: all ease 0.2s;
    cursor: pointer;
}

.edit-txt:hover {
  color: #ff5020;
}

.edit-txt>i {
  padding: 0.2rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  z-index: 99;
  cursor: pointer;
}

.overlay:hover {
  opacity: 0.4;
}

.card-img-js img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  transition: 0.5s ease; 
}

.dets-imgs-lock-js{
  width: 100%;
  height: 180px;
  position: relative;
  padding: 0 1rem;
}

.imgunlockbtn{
  background-color: #ad0909cc;
  border-radius: 5px;
  border: none;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 0.2s;
  font-style: italic;
}

.imgunlockbtn:hover{
  background-color: #dc3a3a; ;
  color: #fff;
  text-decoration: underline;
}

.hr {
    background-color: #ad0909;
    height: 0.2em;
    margin: 1em auto;
}

/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.9;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 999999; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);
}


/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  font-size: 2.5vw;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.lft .left-tag {
  font-size: 16px;
}

.lft .left-btn {
  margin-top: 1.5rem;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Edit form popup */
.edit-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
    transition: all ease-in-out 0.2s;
}

.edit-form-popup {
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25em;
    border-radius: 3px;
    z-index: 9999;
    position: fixed;
    background-color: #fff;
    display: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all ease-in-out 0.2s;
}

#close-icon-1, #close-icon-2, #close-icon-3, #close-icon-4, 
#close-icon-5, #close-icon-6, #close-icon-7, #close-icon-8
{
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #a3a3a3;
    color: #000;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    z-index: 999999;
    transition: all ease-in-out 0.2s;
}

.ri-close-line:hover {
  color:#424242;
}

#form-1, #inner-form-1 {
    display: block;
}

#inner-form-2, #inner-form-3, #inner-form-4, #inner-form-5,
#inner-form-6, #inner-form-7, #inner-form-8 {
    display: none;
    padding: 10px;
}     

.inner-form-container {
  padding: 10px;
}

.inner-form-container .block-div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: .5rem;
  padding: 3px;
}

.inner-form-container .flex-div {
  display: flex;
  gap: 0.5rem;
}

.inner-form-container .inner-form-heading {
    text-align: start;
    color:#474747;
    padding: .5rem;
}

.edit-form-heading {
    text-align: center;
}

.block-div .input-flex {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    width: 100%;
}

.block-div .label-text {
  font-size: 14px;
}

.block-div .text-input, .block-div .select-input, .input-flex .text-input, .input-flex .input-3, .block-div .number-input {
    font-size: 12px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #727272;
    color: #525252;
}

.block-div .select-input {
    padding: 3px;
}

.block-div .text-input {
    padding: 3px;
}

.input-flex .text-input {
    width: 50%;
    padding: 3px;
}

.input-flex .input-3 {
  width: 30%;
  padding: 3px;
}

.block-div .number-input {
  padding: 3px;
}

.text-input:focus , .input-3:focus, .select-input:focus {
  outline: none;
}

.inner-form-container .flex-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.flex-div .previ-btn, .nexti-btn {
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.previ-btn {
  background: none;
  color: #3a3afb;
  border: none;
  width: max-content;
}

.previ-btn:hover {
  color: #ad0909;
}

.nexti-btn {
  background-color: #ad0909;
  border: none;
  color: #fff;
  padding: .3rem 1rem;
  width: 100px; 
}

.nexti-btn:hover {
  background-color: #ec0b0b;
}

.next-btn-1 {
  width: 100%;
}

::placeholder {
  color: #72727d;
  font-size: 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.partner-details .logo-2 {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
}

.logo-2>i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ad0909;
  color: #fff;
  border-radius: 50%;
  font-size: 22px;
}

.logo-2 #partner {
  width: 50px;
  height: 50px;
  background-color: #ad0909;
  color: #fff;
  border-radius: 50%;
  font-size: 22px;
}


